
body{
    color:white;
    background:black;
    font-family: "Indie Flower", Lobster;
    font-size: 32px;
}

.titleIt
{
    text-align: center;
}

.thick-green-border 
{
    border-color: white;
    border-width: 10px;
    border-style: solid;
    border-radius: 30px; /*square - using "%"*/
}




th , tr , td 
{
    text-align: center;
}